<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SaveFilesExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><applicationSettings>
        <SaveFilesExplorer.Properties.Settings>
            <setting name="RegexKeyMatch" serializeAs="String">
                <value>(?&lt;Len&gt;.\x00{3})(?&lt;Key&gt;(?&lt;Open&gt;\(\*)?(?&lt;Name&gt;[a-zA-Z0-9_\.]+)(?&lt;Close&gt;\))?(?&lt;Ext&gt;\[i\])?)</value>
            </setting>
        </SaveFilesExplorer.Properties.Settings>
    </applicationSettings>
</configuration>
