<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TQVaultAE.Config.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<TQVaultAE.Config.Settings>
			<setting name="ARCFileDebugLevel" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="DatabaseDebugLevel" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ItemDebugLevel" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ItemAttributesDebugLevel" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="GameLanguages" serializeAs="String">
				<value>de,en,es,fr,it,pl,ru,cs,zh</value>
			</setting>
			<setting name="UILanguage" serializeAs="String">
				<value />
			</setting>
			<setting name="UpdateURL" serializeAs="String">
				<value>https://github.com/EtienneLamoureux/TQVaultAE</value>
			</setting>
			<setting name="ShowSkillLevel" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FadeInInterval" serializeAs="String">
				<value>0.1</value>
			</setting>
			<setting name="FadeOutInterval" serializeAs="String">
				<value>0.2</value>
			</setting>
			<setting name="LootTableDebugEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DebugEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="TQOriginalHowtoUrl" serializeAs="String">
				<value>https://github.com/EtienneLamoureux/TQVaultAE/blob/master/documentation/TQORIGINAL.md</value>
			</setting>
		</TQVaultAE.Config.Settings>
	</applicationSettings>
</configuration>