<?xml version="1.0" encoding="utf-8"?>
<!--Fix from  https://stackoverflow.com/questions/25365616/alink-warning-al1073-referenced-assembly-mscorlib-dll-targets-a-different-p-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<TargetFrameworkSDKToolsDirectory Condition=" '$(PlatformTarget)' == 'x64'">$(TargetFrameworkSDKToolsDirectory)$(PlatformTarget)\</TargetFrameworkSDKToolsDirectory>
	</PropertyGroup>
</Project>