<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TQVaultAE.Config.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TQVaultAE.Config.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TQVaultAE.Config.Settings>
      <setting name="SkipTitle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadLastVault" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadLastCharacter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastVaultName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCharacterName" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoDetectLanguage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoDetectGamePath" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TQLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="VaultPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LoadAllFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SuppressWarnings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckForNewVersions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowItemCopy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowItemEdit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TQITPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TQPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ModEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomMap" serializeAs="String">
        <value />
      </setting>
      <setting name="Scale" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LoadAllFilesCompleted" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlayerReadonly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowCharacterEdit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowCheats" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForceGamePath" serializeAs="String">
        <value />
      </setting>
      <setting name="BaseFont" serializeAs="String">
        <value>AlbertusMT</value>
      </setting>
    </TQVaultAE.Config.Settings>
  </userSettings>
  <applicationSettings>
    <TQVaultAE.Config.Settings>
      <setting name="DebugEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ARCFileDebugLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DatabaseDebugLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ItemDebugLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ItemAttributesDebugLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GameLanguages" serializeAs="String">
        <value>de,en,es,fr,it,pl,ru,cs</value>
      </setting>
      <setting name="UILanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateURL" serializeAs="String">
        <value>https://github.com/EtienneLamoureux/TQVaultAE</value>
      </setting>
      <setting name="ShowSkillLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FadeInInterval" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="FadeOutInterval" serializeAs="String">
        <value>0.2</value>
      </setting>
    </TQVaultAE.Config.Settings>
  </applicationSettings>

  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
